.gitattributes  export-ignore
.gitignore      export-ignore
.gitkeep        export-ignore
.golangci.yml   export-ignore

/.github/       export-ignore
/bin/           export-ignore
/docs/          export-ignore
/tools/         export-ignore

Makefile        export-ignore
Taskfile        export-ignore
*.md            export-ignore

testdata/       export-ignore
*_test.go       export-ignore

go.sum          linguist-generated
*.go            text eol=lf
